<div class="container">
    <div class="contact-form">
        <p class="message">
            If you have a project you would like to discuss, a general enquiry or would just like to have a chat. Feel free to contact me using the form below.
        </p>
        <p>
            <mat-form-field class="contact-field-full-width">
                <input matInput [(ngModel)]="contactForm.name" placeholder="Name">
            </mat-form-field>
            <mat-form-field class="contact-field-full-width">
                <input matInput [(ngModel)]="contactForm.email" placeholder="Email">
            </mat-form-field>
            <mat-form-field class="contact-field-full-width">
                <textarea matInput [(ngModel)]="contactForm.description" rows="6" placeholder="Message"></textarea>
            </mat-form-field>
        </p>
        
        <button class="submit-button" [disabled]="isLoading" mat-raised-button (click)="submitForm()">Submit</button>
        <mat-spinner *ngIf="isLoading" class="loading-spinner" ></mat-spinner>

        <p class="contact-message {{messageClass}}">
            {{strMessage}}
        </p>
    </div>
</div>