<!--<h3>Top Heroes</h3>-->
<div class="container">
    I am a skilled and passionate programmer with a background in design based in Melbourne, Australia. I have over 10 years of full-time experience working across the full stack on both small and large projects. In my professional practice I have utilised ITIL change management processes, Agile and DevOps.
    <br /><br />
    I have excellent interpersonal, communication and organisational skills, strong conceptual and analytical abilities and function well in a team environment as well as independently.
</div>
