<div class="header">
  <!--<h1>{{title}}</h1>-->

 <div class="logocontainer"> 
      <div class="logo">
          <p>DAMIEN FARRAR</p>
      </div>
      <div class="logosub">
          <p>C# / .NET FULL STACK DEVELOPER</p>
      </div>
 </div>
  
  <nav>
      <a routerLink="/professional" routerLinkActive="active">Professional Experience</a>
      <a routerLink="/about" routerLinkActive="active">About me</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav>
</div>
<router-outlet></router-outlet>

<div class="footer">
  Technology: Angular 7, TypeScript 3, AWS Serverless Stack (S3, Route53, APIGateway, Lambda, DynamoDB, SES)
</div>