<!--<h2>My Heroes</h2>-->
<div class="container">

    <mat-spinner *ngIf="isLoading" class="loading-spinner" ></mat-spinner>

    <mat-card class="image-card" *ngFor="let professionalDetail of professionalDetails" [routerLink]="['/detail', professionalDetail.id]">
        <div mat-card-image>
            <img class="mat-card-image-base" [attr.src]="'assets/images/thumb/'+professionalDetail.image+'.png'" />
            <img class="mat-card-image-overlay" [attr.src]="'assets/images/thumb/'+professionalDetail.image+'.png'" />
        </div>
        <mat-card-content>
            <p>
            {{professionalDetail.title}}
            </p>
        </mat-card-content>
    </mat-card>

</div>